// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: rgb(255, 255, 255) !default;
$header-bg-color: #819915 !default;
$header-bg-color-secondary: #15995b !default;

// Text
$section-headings-color: #859915 !default;
$body-text-color: #606c71 !default;
$body-link-color: #23b81e !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3faf7 !default;
$code-text-color: #56826a !default;

// Borders
$border-color: #dcf0df !default;
$table-border-color: #e9ece9 !default;
$hr-border-color: #eff1f0 !default;
